# Runtime dependencies for Window Capture Reading
# These are the packages required to run the application
# All versions are pinned for reproducibility and license stability

# Image processing
Pillow==12.0.0
opencv-python==4.11.0.86
numpy==1.26.4
scikit-image==0.25.2

# Windows screen capture
windows-capture==1.5.0
